.venv/
.git/
.dvc/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
htmlcov/
.coverage
mlruns/
mlartifacts/
mlflow.db
data/raw/
data/interim/
data/processed/
models/artifacts/
notebooks/
docs/
tests/
scripts/
.env
*.md


# Necessarios para a imagem api-prod no ECS
!data/processed/
!data/processed/**
!models/artifacts/
!models/artifacts/**
!models/promoted_model.json
!models/production/
!models/production/**